/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
box-sizing: inherit;
scroll-behavior: smooth;
  }
  

  body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: black;
  }

  /* Hader style start */
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    background-color: #0C0C0E;
    color: white;
  }

  .header_wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

    .header_list {
      display: flex;
      flex-wrap: wrap;
    }

    .header_item {
      color: #FFF;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px; /* 250% */
      margin-right: 30px;
    }

    .header_icon {
      margin-left: 10px;
    }

    h1 {
      color: #FFF;
      font-family: Forum;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: 50px; /* 166.667% */
      letter-spacing: 0.6px;
      text-align: left;
    }

    .header_link {
      text-decoration: none;
      color: white;
    }

    .header_link:hover, .header_link:active {
      opacity: 55%;
      transition: opacity 0.5s ease;
      cursor: pointer;
    }

   


/* Header style end */

  

/* Main Welcome image style start */

.welcom_image {
  position: relative;
  background: url(../img/Welcome.jpg); 
  width: 1440px;
  height: 600px;
 
}

.welcome_text {
  position: absolute;
  top: 220px;
  background-color: black;
  width: 600px;
  padding: 35px 40px;
  color: #FFF;
text-align: center;
justify-content: center;
font-family: Forum;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 125% */
letter-spacing: 3px;
text-transform: uppercase;

}

/* Main Welcome image style end */

/* Main Aboute style start */

h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}

h2::after {
  content: "";
  display:block;
  width: 50px;
  padding-top: 20px;
  border-bottom: 2px solid #0C0C0E;
  margin: 0 auto;
}

.about_text { 
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
padding-top: 40px;
}

.about_images {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.about_images_ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
}

.about_images_element:not(:last-child) {
  padding-right: 25px;
}


.about_circle {

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 34px;

}
.aboute_circle_div {
 
  width: 26px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.about_circle1 {
  width: 16px;
  height: 16px;
  background-color: #BB945F;
  border-radius: 50%;
  

}

.about_circle2 {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
 

  
}

.about_circle3 {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;

}

/* Main Aboute style end */



/* Main Favorites style start */

.favorites_pick {
color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-top: 40px;
padding-left: 20px;
}

.favorites_form {
  padding-top: 40px;
  padding-left: 10px;
  /* max-width: 50%; */
}

.favorites_form_info {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start
}

.season_imput_favorites {
  padding-right: 90px;
}

.seasons_imput {
  padding-left: 15px;
  color: #000;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.seasons_imput:hover {
  cursor: pointer;
}

#Winter {
  font-weight: 700;
}

.imput_favorites {
  width: 17px;
  height: 17px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: #000; 
}

input[type='radio'] {
  accent-color: #000000;
  cursor: pointer;}

.wrap_book_winter {
  padding: 40px 60px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book_winter {
position: relative;
width: 550px;
height: 555px;
flex-shrink: 0;
border: 1px solid #000;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
margin-bottom: 40px;
}

.staff_picks {
  color: #000;
  font-family: Forum;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; 
  letter-spacing: 2px;
  text-transform: capitalize;
}

.staff_picks::after {
  content: "";
  display:block;
  width: 60px;
  padding-top: 0px;
  border-bottom: 1px solid #BB945F;
}

.book_favorites {
  padding-top: 20px;
}

.namebook {
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: uppercase
}

.author {
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
}

.about_book {
padding-top: 20px;
width: 355px;
color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: capitalize;
}

.button_Buy {
width: 75px;
height: 30px;
flex-shrink: 0;
border-radius: 2px;
border: 1px solid #0C0C0E;
color: #0C0C0E;
background-color: #FFF;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
cursor: pointer;
transition: background-color 0.5s ease;
position: absolute;
left: 20px;
bottom: 15px;
}

.button_Buy:hover {
  background-color: #BB945F;
  border: none;
}

#Own {
  color: #BB945F;
text-align: center;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1px;
border: 1px solid #BB945F;
}

#Own:hover {
  background-color: #FFF;
  border: 1px solid #BB945F;
  cursor: default;
}

.book_picture {
  position: absolute;
    bottom: -1px;
    right: -45px;
}

/* Main Favorites style end */




/* Main Favorites seasons style start */


.wrap_book_spring {
  padding: 40px 60px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book_spring {
position: relative;
width: 550px;
height: 555px;
flex-shrink: 0;
border: 1px solid #000;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
margin-bottom: 40px;
}

.wrap_book_summer {
  padding: 40px 60px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book_summer {
position: relative;
width: 550px;
height: 555px;
flex-shrink: 0;
border: 1px solid #000;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
margin-bottom: 40px;
}

.wrap_book_autumn {
  padding: 40px 60px 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.book_autumn {
position: relative;
width: 550px;
height: 555px;
flex-shrink: 0;
border: 1px solid #000;
padding-top: 15px;
padding-bottom: 15px;
padding-left: 20px;
margin-bottom: 40px;
}

.wrap_book_seasons {
  display: none;
}

/* Main Favorites seasons style end */



/* Main Coffee shop style start */
.aboute_coffee_shop {
  padding-top: 40px;
  margin-left: 20px;
  width: 1400px;
  color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
letter-spacing: 2px;
}