/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* forum-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Forum';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/forum-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  /* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v12-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  html{
    box-sizing: border-box;
  }
  *, *::before, *::after{
box-sizing: inherit;
  }
  

  body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: black;
  }

  /* Hader style start */
  header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
    padding: 20px;
    background-color: #0C0C0E;
    color: white;
  }

  .header_wrap {
    display: flex;
    flex-wrap: wrap;
  }

    .header_list {
      display: flex;
      flex-wrap: wrap;
    }

    .header_item {
      margin-right: 30px;
    }

    .header_icon {
      margin-left: 10px;
    }

    h1 {
      font-family:'Forum';
      font-size: 30px;
      line-height: 50px; /* 166.667% */
      /* letter-spacing: 0.02em; */
      text-align: left;
    }

    .header_link {
      text-decoration: none;
      color: white;
    }

    .header_link:hover, .header_link:active {
      opacity: 55%;
    }

   


/* Header style end */

  

/* Main Welcome image style start */

.welcom_image {
  position: relative;
  background: url(../img/Welcome.jpg); 
  width: 1440px;
  height: 600px;
 
}

.welcome_text {
  position: absolute;
  top: 220px;
  font-family:'Forum';
  color: white;
  font-size: 40px;
  background-color: black;
  width: 600px;
  padding: 35px 40px;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 125% */
  /* letter-spacing: 0.1px; */

}

/* Main Welcome image style end */

/* Main Aboute style start */

h2 {
  color: #0C0C0E;
  font-family: Forum;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 100% */
  letter-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 20px;
}

h2::after {
  content: "";
  display:block;
  width: 50px;
  padding-top: 20px;
  border-bottom: 2px solid #0C0C0E;
  margin: 0 auto;
}

.about_text { 
color: #000;
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 200% */
padding-top: 40px;
letter-spacing: 1.4px
}

.about_images {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}

.about_images_ul {
  display: flex;
  flex-wrap: wrap;
}

.about_images_element {
  padding-left: 25px;
}

.about_circle {
  padding: 40px 686px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_circle1 {
  width: 16px;
  height: 16px;
  background-color: #BB945F;
  border-radius: 50%;
}

.about_circle2 {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
}

.about_circle3 {
  width: 16px;
  height: 16px;
  background-color: #000;
  border-radius: 50%;
}